body {
    margin: 1% 1%;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*   Added CSS    */

div.top h1,
.top p {
    color: black;
}

div.container {
    border-radius: 6px 6px;
}

body {
    background-color: white;
    border: 5px solid black;
    border-radius: 6px 6px;
}

table {
    border-radius: 6px 6px;
}

thead {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

th {
    background-color: gray;
    color: black;
}

tr th:first-child {
    border-top-left-radius: 6px;
}

tr th:last-child {
    border-top-right-radius: 6px;
}

tbody {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

td {
    background-color: black;
    color: white;
}

label,
select,
div.dataTables_info {
    color: black !important;
}

select,
input {
    border: 2px solid black !important;
    border-radius: 3px 10px !important;
    color: black !important;
    background-color: white !important;
}

li a {
    background-color: white !important;
    border: 2px solid black !important;
    border-radius: 3px 10px !important;
    color: black !important;
}

hr {
    border-top-color: black !important;
}
/* footer */
footer {
    display: flex;
    justify-content: space-around;
}

    footer p {
        flex-basis: auto;
        color: black;
    }

p.floatRight {
    flex-basis: auto;
}